@model API.Areas.Admin.Models.Booking.BookingModel;
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options;
@using reCAPTCHA.AspNetCore;
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    string[] title;
    var img = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(16);
}

<div class="hero-wrap-thought d-flex justify-content-center align-items-center">
    <div class="container full-height-thought">
        @*<div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center" data-aos="fade-up">
                <div class="text navigation nlist icon-wrap">
                    <div class="d-flex justify-content-center">
                        <img src="~/TMDT/images/wrench.png" class="is-developing icon" />
                    </div>
                    <ul class="list-inline heading-title">
                        <li class="text-white">
                            Chức năng đang được cập nhật, vui lòng quay lại sau!
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

        <div class="row no-gutters justify-content-center align-items-center">
            @*<div class="col-lg-3 col-md-6 d-md-flex d-none align-items-end order-1 order-md-2" data-aos="fade-up">
                <div class="text">
                    <h1 class="mb-1 ftco-animate"><span>@img[i].Title</span></h1>
                </div>
            </div>*@
            <div class="col-12 col-md-6 mt-0 d-flex justify-md-content-end justify-content-center order-2 order-md-1">
                <form class="request-form" asp-controller="SoLuuNiem" asp-action="SaveItem" method="post" data-aos="fade-up" enctype="multipart/form-data">
                    <h2>Lưu lại cảm nghĩ của bạn</h2>
                    <div class="form-group">
                        <label for="from-place" class="label">Họ và tên</label>
                        <input type="text" class="form-control" placeholder="Nhập họ và tên" id="cus-name" name="TenKhachHang" asp-for="@Model.Item.TenKhachHang">
                    </div>
                    <div class="form-group">
                        <label for="from-place" class="label">Đơn vị công tác</label>
                        <input type="text" class="form-control" placeholder="Nhập đơn vị công tác" id="from-place" name="DonViCongTac" asp-for="@Model.Item.DonViCongTac">
                    </div>

                    <div class="form-group">
                        <label for="IListImage" class="label">Hình ảnh</label>

                        <label class="custom-file-upload">
                            <input onchange="see()" type="file" id="files" name="IListImage" multiple asp-for="@Model.Item.IListImage" accept="image/png, image/gif, image/jpeg">
                            Chọn hình
                        </label>

                        @*<input onchange="see()" type="file" id="files" name="IListImage" multiple asp-for="@booking.Item.IListImage">*@
                    </div>

                    <div class="col-12">
                        <div class="row" id="List_Images">

                        </div>
                    </div>




                    <div class="form-group">
                        <label for="to-place" class="label">Cảm nghĩ</label>
                        <textarea rows="4" class="form-control" placeholder="Nhập cảm nghĩ" id="to-place" name="CamNghi" asp-for="@Model.Item.CamNghi"></textarea>
                        <input type="hidden" class="form-control" id="token_recaptcha" name="TokenRecaptcha">
                    </div>
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary p5 btn-lg" name="SaveItem" value="Gửi đi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function see(){
        var inp = document.getElementById('files');
        console.log(inp.files);
        var str = "";
        for (var i = 0; i < inp.files.length; i++) {
            const file = inp.files[i];
            console.log(file);
            if (file) {
                var src = URL.createObjectURL(file);
                str += '<div class="form-group images-main col-12 col-md-6"><div class="borderStroke" >' +
                '<img src="' + src + '" style="height: 100%; width: 100%; object-fit: contain; z-index:-1" />' +
                '</div></div>'
            }
        }
        console.log(str);
        $("#List_Images").html(str)
    }
</script>

@*@section Scripts{
    <script type="text/javascript">
        var max = parseInt($("#maxfile").val()) + 1;
        
        function ThemFile() {
            /**/
            //$(".file-list").append('<div class="file-item"><input type="hidden" name="ListFile[' + max + '].FilePath" class="FileName" id="FileName_' + max + '"><a href="javascript:openCustomRoxy2(' + max + ')" type="button" class="btn btn-primary">Chọn File</a><span class="lblFileName" id="lblFileName_' + max + '"></span>  <span class="text-danger xoafile">Xóa</span></div>');
            /**/

            $(".file-list").append('<div class="form-group images-main" > <div class="borderStroke" > ' +
                '<img for="Image_' + max + ' id="previewImage_' + max + '" src="#" class="hidden" style="height: 100%; width: 100%; object-fit: contain; z-index:-1" />' +
                '<label id="btnAddImage_' + max + '" for="Image_' + max + '" class="custom-file-upload py-auto" >' +
                '<i class="fa fa-plus-circle fa-5x my-auto"> </i>' +
                '</label>' +
                '<input type="file" name="ListLinkArticle[' + max + '].IHinhAnh" class="FileName" id="Image_' + max + '" >' +
                '</div>' +
                '<label id="chonImage_' + max + '_Khac" for="Image_' + max + '" class="hidden" > Chọn hình khác </label>' +
                '<span class="lblFileName" id="lblFileName_' + max + '">ListLinkArticle[' + max + '].URL</span>' +
                '</div>');


            $("#maxfile").val(max);
        }

        

        var cccdsa = document.getElementById("CCCDsa");
        var previewCCCDsa = document.getElementById("previewCCCDsa");
        var btnAddCCCDsa = document.getElementById("btnAddCCCDsa");
        var chonHinhCCCDsaKhac = document.getElementById("chonHinhCCCDsaKhac");
        if (cccdsa != null) {
            cccdsa.onchange = evt => {
                const [file] = cccdsa.files
                if (file) {
                    previewCCCDsa.src = URL.createObjectURL(file);
                    previewCCCDsa.classList.remove("hidden");
                    chonHinhCCCDsaKhac.classList.remove("hidden");
                    btnAddCCCDsa.classList.add("hidden");
                }
            }
        }


        $('.file-list').on('click', '.file-item .xoafile', function (event) {

            $(this).parent().find(".lblFileName").empty();
            $(this).parent().find(".FileName").val("");
        })

        function AddLinkArticle() {
            console.log(ListLinkArticle);
            var Item = { Title: '', Link: '', Status: true };
            if (ListLinkArticle == null) {
                ListLinkArticle = [];
            }
            ListLinkArticle.push(Item);
            BuildHtmlLinkArticle();

        }
        function DeleteLinkArticle(i) {
            ListLinkArticle[i].Status = false;
            BuildHtmlLinkArticle();
        }
        function BuildHtmlLinkArticle() {
            if (ListLinkArticle != null && ListLinkArticle.length > 0) {
                $(".link-article-list").html('');

                for (var i = 0; i < ListLinkArticle.length; i++) {
                    if (ListLinkArticle[i].Status) {

                        str = '<div class="form-group images-main" ><div class="borderStroke" >' +
                            '<img for= "Image_'+i+' id = "previewImage_'+i+'" src = "#" class="hidden" style = "height: 100%; width: 100%; object-fit: contain; z-index:-1 " />' +
                            '<label id="btnAddImage_' + i + '" for= "Image_' + i + '" class= "custom-file-upload py-auto" >' +
                            '<i class= "fa fa-plus-circle fa-5x my-auto" > </i>' +
                            '< /label>' +
                            '< input type = "file" name="ListLinkArticle[' + i + '].IHinhAnh class="FileName" id ="Image_' + i + '" >' + 
                            '</div>' +
                            '< label id = "chonImage_' + i + '_Khac" for= "Image_' + i + '" class= "hidden" > Chọn hình khác < /label>' +
                            '< span class="lblFileName" id="lblFileName_' + i + '" >ListLinkArticle[' + i + '].URL</span>' +
                            '< /div>';



                        //str = '<div class="link-article-item"><div class="row">';
                        //str = str + '<div class="col-lg-3"><input onchange="UpdateDataLinkArticle(' + i + ',1,event)" name="ListLinkArticle[' + i + '].Title" class="form-control" placeholder="Tiêu Đề" value="' + ListLinkArticle[i].Title + '" /></div>';
                        //str = str + '<div class="col-lg-3"><input onchange="UpdateDataLinkArticle(' + i + ',2,event)" name="ListLinkArticle[' + i + '].Link"  class="form-control" placeholder="Link" value="' + ListLinkArticle[i].Link + '"/></div>';
                        //str = str + '<div class="col-lg-2"><span class="btn btn-danger" onclick="DeleteLinkArticle(' + i + ')">Xóa</span></div>';
                        //str = str + '<input type="hidden" name="ListLinkArticle[' + i + '].Status" value="' + ListLinkArticle[i].Status + '"/></div></div>';
                        $(".link-article-list").append(str);
                    }
                }
            }
        }
        function UpdateDataLinkArticle(i, n, event) {
            console.log(event.target.value);
            if (n == 1) {// Title
                ListLinkArticle[i].Title = event.target.value;
            } else if (n == 2) {
                ListLinkArticle[i].Link = event.target.value;
            }
        }
    </script>
}*@