@model API.Areas.Admin.Models.Contacts.ContactsModel
@{
    Layout = "_layoutAdmin";
 ViewData["Title"] = "Quản lý thông tin liên hệ";
 string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4><i class="fas fa-table"></i>Quản lý thông tin liên hệ</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <div class="row">

     
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th>Họ tên</th>
                            <th>Điện thoại</th>
                            <th>Tiêu đề</th>
                            <td>Ngày</td>
                            <th width="80px">Đã xem</th>
                            <th width="130px" class="btn-contain">
                                <a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-Type="@Model.SearchData.Type" class="btn btn-primary">THÊM MỚI</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="7" class="text-center">

                                    <label>Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                            <tr>
                                <td width="50px" class="text-center">@(i + 1)</td>
                                <td>@Model.ListItems[i].Fullname</td>
                                <td>@Model.ListItems[i].Phone</td>
                                <td>@Model.ListItems[i].Title</td>
                                <td>@Model.ListItems[i].CreatedDateShow</td>
                                <td class="text-center">
                                    @if (@Model.ListItems[i].Status)
                                    {
                                        <span style="cursor:pointer" onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check-circle text-primary" aria-hidden="true"></span>
                                    }
                                    else
                                    {
                                        <span style="cursor:pointer" onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></span>
                                    }
                                </td>
                                <td>
                                    <ul class="list-inline action">
                                        <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                        <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                    </ul>
                                </td>
                            </tr>
                            }
                        }

                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>


<script>

</script>