@model API.Areas.Admin.Models.Menus.Menus;


<li class="nav-item dropdown">
    @* <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="@Model.Link">@(Model.Title) </a> *@

    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="@(Model.Link)">
        <i class="@(Model.Icon)"></i>
        @{
            if (Model.Title.Contains("/"))
            {
                <span>@Model.Title.Split("/")[0]<br />@Model.Title.Split("/")[1]</span>
            }
            else
            {
                @Model.Title
            }
        }
    </a>

    <ul class="dropdown-menu">
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
            @if (Model.ListMenus[i].ChildCount > 0)
            {
                @await Html.PartialAsync("_PartialMenuChild", Model.ListMenus[i])
                ;
            }
            else
            {
                if (Model.ListMenus[i].Link != null)
                {
                    <li><a href="@(Model.ListMenus[i].Link)" class="dropdown-item"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li> 
                }
                @* else if (Model.ListMenus[i].ArticleId != 0)
                {
                    <li><a href="/gioi-thieu.html" class="dropdown-item"> <i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
                } *@
                else
                {
                    <li><a href="#" class="dropdown-item"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
                }

            }
        }
    </ul>
</li>




@*<li class="@(Model.Position==2?"xsshow":"")">
    <a href="@Model.Link">@(Model.Title) </a>
    <ul>
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
            @if (Model.ListMenus[i].ChildCount > 0)
            {
                @await Html.PartialAsync("_PartialMenuChild", Model.ListMenus[i]);
            }
            else
            {
                if (Model.ListMenus[i].Link != null)
                {
                    <li><a href="@(Model.ListMenus[i].Link)"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
                }
                else if (Model.ListMenus[i].ArticleId != 0)
                {
                    <li><a href="/gioi-thieu.html"> <i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
                }
                else
                {
                    <li><a href="#"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
                }

            }
        }
    </ul>
</li>*@

