@model API.Areas.Admin.Models.DuThaoVanBan.DuThaoVanBanModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý văn bản dự thảo";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">

        <h4><i class="fas fa-table"></i> @ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="Index" method="get">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">

                        <div class="col">
                            <div class="form-group">

                                <select asp-for="SearchData.FieldId" name="FieldId" class="form-control" asp-items="Model.ListDocumentsField"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>
        <div class="row">
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover " id="myTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th width="350px">Tiêu đề </th>
                            <th>Trích Yếu</th>
                            <th width="150px">Ngày hết hạn</th>
                            <th width="100px" class="text-center">Trạng Thái </th>
                            <th width="100px" class="text-center">Góp ý</th>
                            <th width="200px" class="btn-contain">
                                <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="8" class="text-center">
                                    <label>Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                                <tr>
                                    <td width="50px" class="text-center">@(i + 1)</td>
                                    <td>@Model.ListItems[i].Title</td>
                                    <td>@Model.ListItems[i].Introtext</td>
                                    <td>@Model.ListItems[i].ExpiresDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        @if (@Model.ListItems[i].Status)
                                        {
                                            <span onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check-circle text-primary" aria-hidden="true"></span>
                                        }
                                        else
                                        {
                                            <span onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="DuThaoVanBanGopY" asp-action="Index" asp-route-IdDuThao="@Model.ListItems[i].Id" asp-route-IdsDuThao="@Model.ListItems[i].Ids"><i class="far fa-comments"></i> Góp Ý <strong class="text-success">(@Model.ListItems[i].numGopY)</strong></a>
                                    </td>
                                    <td>
                                        <ul class="list-inline action">
                                            <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i> Sửa</a></li>

                                            <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(function () {

            $('#myTable').basictable({
                breakpoint: 980
            });
        });
    </script>
}