@model API.Areas.Admin.Models.DuThaoVanBan.DuThaoVanBanModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Văn bản dự thảo";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Văn bản dự thảo";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">


            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.FieldId">Lĩnh Vực <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.FieldId" name="FieldId" class="form-control" asp-items="Model.ListDocumentsField"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <label asp-for="Item.ExpiresDateShow">Ngày hết hạn<sup class="text-danger"> (*)</sup></label>
                    <div class="input-group date" id="ExpiresDateShow" data-target-input="nearest">
                        <input type="text" asp-for="Item.ExpiresDateShow" name="ExpiresDateShow" class="form-control datetimepicker-input" data-target="#ExpiresDateShow" />
                        <div class="input-group-append" data-target="#ExpiresDateShow" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-12">
                    <div class="form-group">
                        <label asp-for="Item.Introtext">Trích Yếu</label>
                        <textarea asp-for="Item.Introtext" id="NoiDung" name="Introtext" class="form-control" style="height:100px"></textarea>
                    </div>
                </div>


                @*<div class="col-lg-6">
                        <label asp-for="Item.Link">File Văn bản <sup class="text-danger"> (*)</sup></label>
                        <div class="input-group mb-3">
                            <input type="text" id="Item_Images" class="form-control" asp-for="Item.Link" name="Link">

                            <div class="input-group-prepend">
                                <a href="javascript:openCustomRoxy()" class="btn btn-primary">Chọn File</a>
                            </div>
                        </div>

                        @if (!string.IsNullOrEmpty(Model.Item.Link))
                        {
                            <div>
                                <p><a href="@Model.Item.Link" target="_blank">@Model.Item.Link</a></p>
                            </div>
                        }

                        <div id="roxyCustomPanel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content content-set-image">
                                    <iframe src="/lib/fileman/index.html?integration=custom&langCode=vi" style="width:100%;height:100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <div class="col-lg-4 col-12">
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                                <label class="custom-control-label" asp-for="Item.Status">Hiển thị</label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">File Đính kèm</legend>
                        <div class="file-list">

                            @if (Model.Item.ListFile != null && Model.Item.ListFile.Count() > 0)
                            {
                                <input type="hidden" id="maxfile" value="@(Model.Item.ListFile.Count()-1)">
                                for (int j = 0; j < Model.Item.ListFile.Count(); j++)
                                {
                                    <div class="file-item">
                                        <input type="hidden" asp-for="@Model.Item.ListFile[j].FilePath" name="ListFile[@j].FilePath" class="FileName" id="FileName_@j">
                                        <a href="javascript:openCustomRoxy2(@j)" type="button" class="btn btn-primary">Chọn File</a>
                                        <span class="lblFileName" id="lblFileName_@j">
                                            <a href="@Model.Item.ListFile[j].FilePath" target="_blank">@Model.Item.ListFile[j].FilePath</a>
                                        </span>


                                        <span class="text-danger xoafile">Xóa</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <input type="hidden" id="maxfile" value="-1">
                            }
                        </div>
                        <p style="margin:10px 5px; cursor:pointer" class="text-primary" onclick="ThemFile()">
                            <i class="fa fa-plus-square"></i> Thêm file
                        </p>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
        </form>
    </div>
</div>


<div id="roxyCustomPanel2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content content-set-image">
            <iframe id="ifrm2" src="" style="width:100%;height:100%" frameborder="0"></iframe>
        </div>
    </div>
</div>



<script src="~/js/moment.js"></script>
<script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="~/js/jquery.base64.min.js"></script>
<script type="text/javascript" src="~/js/jquery.binarytransport.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">

    $(function () {

        $('#ExpiresDateShow').datetimepicker({ format: 'DD/MM/YYYY', });



    });

    // File đính kèm

    function openCustomRoxy2(id) {
        var roxyFileman2 = '/lib/fileman/index.html?integration=custom_2&langCode=vi&txtFieldId=' + id;
        $('#ifrm2').attr('src', roxyFileman2)
        $('#roxyCustomPanel2').modal('show');
    }
    function closeCustomRoxy2() {
        $('#roxyCustomPanel2').modal('hide');
    }

    function ThemFile() {
        var max = parseInt($("#maxfile").val()) + 1;
        /**/
        $(".file-list").append('<div class="file-item"><input type="hidden" name="ListFile[' + max + '].FilePath" class="FileName" id="FileName_' + max + '"><a href="javascript:openCustomRoxy2(' + max + ')" type="button" class="btn btn-primary">Chọn File</a><span class="lblFileName" id="lblFileName_' + max + '"></span>  <span class="text-danger xoafile">Xóa</span></div>');
        /**/
        $("#maxfile").val(max);
    }

    $('.file-list').on('click', '.file-item .xoafile', function (event) {

        $(this).parent().find(".lblFileName").empty();
        $(this).parent().find(".FileName").val("");
    })

    $(function () {
        CKEDITOR.replace('NoiDung', {
        });
    });
</script>
