@model API.Areas.Admin.Models.Phieu_DangKySuaChua.Phieu_DangKySuaChuaModel;
@using Microsoft.AspNetCore.Http

@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý yêu cầu sửa chữa";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    int IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    int IdGroup = int.Parse(Context.Session.GetString("IdGroup"));
    string TenCoQuan = Context.Session.GetString("TenCoQuan");
    string web = "VPUBND";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h4>
                    <i class="fas fa-table"></i> @ViewData["Title"]

                </h4>
            </div>
            <div class="col-lg-6 col-12 text-left text-lg-right">
                <span class="">
                    Tổng dòng: <strong>
                        @if (Model.ListItems != null && Model.ListItems.Count() > 0)
                        {
                            <span>@Model.ListItems[0].TotalRows</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </strong>
                </span>
            </div>
        </div>

    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="Index" method="get">
            <div class="row">


                @*<div class="col-lg-4" style="position:relative">
                <input placeholder="---Chọn danh mục---" class="form-control catpicker" value="@(Model.SearchData.CatId!=0?"a":"")" />
                <input type="hidden" id="ArticleCatId" name="ArticleCatId" value="@(Model.SearchData.CatId!=0?Model.SearchData.CatId.ToString():"")" />
                <div class="danhmuc-absolute">
                <div class="easy-tree">
                <div id="demo1_menu">
                @await Html.PartialAsync("_PartialCategoryDropDown", Model.SearchData.CatId)
                </div>
                </div>
                </div>

                </div>*@

                @*<div class="col-lg-4">
                <div class="form-group">
                <label class="show-group-all show-group-@IdGroup">Danh mục</label>
                <select asp-for="SearchData.ChiNhanhCapNuoc" name="CatId" class="form-control" asp-items="Model.ListItemsChiNhanhCapNuoc"></select>
                </div>
                </div>

                <div class="col-lg-4">
                <div class="form-group">
                <label class="show-group-all show-group-@IdGroup">Danh mục</label>
                <select asp-for="SearchData.MucDichSuDung" name="CatId" class="form-control" asp-items="Model.ListItemsMucDichSuDung"></select>
                </div>
                </div>

                <div class="col-lg-4">
                <div class="form-group">
                <label class="show-group-all show-group-@IdGroup">Danh mục</label>
                <select asp-for="SearchData.Status" name="CatId" class="form-control" asp-items="Model.ListItemsStatus"></select>
                </div>
                </div>*@

                @*<div class="col-lg-4">
                <div class="form-group">
                <label class="show-group-all show-group-@IdGroup">Danh mục</label>
                <select asp-for="SearchData.MucDichSuDung" name="CatId" class="form-control" asp-items="Model.ListItemsMucDichSuDung"></select>
                </div>
                </div>*@

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="show-group-all show-group-@IdGroup">Từ khóa</label>
                        <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="show-group-all show-group-@IdGroup">&nbsp;&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-xs" name="btn" value="search">Tìm Kiếm</button>
                        @*<button type="submit" class="btn btn-success btn-xs" name="btn" value="excel">Xuất excel</button>*@
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <select asp-for="SearchData.Status" name="Status" class="form-control" asp-items="Model.ListItemsStatus"></select>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Từ Ngày</label>
                        <div class="input-group date" id="ShowStartDate" data-target-input="nearest">
                            <input asp-for="SearchData.ShowStartDate" name="ShowStartDate" type="text" class="form-control datetimepicker-input" data-target="#ShowStartDate" id="ShowShowStartDate" />
                            <div class="input-group-append" data-target="#ShowStartDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Đến Ngày</label>
                        <div class="input-group date" id="ShowEndDate" data-target-input="nearest">
                            <input asp-for="SearchData.ShowEndDate" name="ShowEndDate" type="text" class="form-control datetimepicker-input" data-target="#ShowEndDate" id="ShowShowEndDate" />
                            <div class="input-group-append" data-target="#ShowEndDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div id="TableDiv">
                    <table id="myTable" class="table table-bordered table-striped table-hover myTable">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">ID</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày đăng ký</th>
                                <th>Trạng thái</th>
                                @*<th width="130px" class="btn-contain">
                                    <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                                </th>*@
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <label *ngIf="flagListitems==2">Không có dữ liệu!</label>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    <tr>
                                        <td width="50px" class="text-center">@Model.ListItems[i].Id</td>
                                        <td>@Model.ListItems[i].TenKH</td>
                                        <td>@Model.ListItems[i].CreatedAt</td>
                                        <td>
                                            <div class="form-group">
                                                <select asp-for="SearchData.Status" onchange="UpdateStatus('@Model.ListItems[i].Id',this.value)" name="Status" class="form-control" asp-items="Model.ListItemsStatus"></select>
                                            </div>
                                        </td>
                                        <td>
                                            <ul class="list-inline action">
                                                <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>

                                                <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].TenKH" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>

                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DetailDKSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="article-title">Chi Tiết Bài Viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="article-content"><div class="text-center" id="msgResult"></div></div>
            </div>
            <div class="modal-footer " id="footer-detail-article">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.base64.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.binarytransport.js"></script>
    <script type="text/javascript">

        function CloseModal() {
            $("#msgResult").text();
            $("#DetailDKSC").modal('hide');
        }

        function UpdateStatus(Id, Status) {
            $.ajax({
                url: "/Admin/Phieu_DangKySuaChua/UpdateStatus?Id=" + Id + "&Status=" + Status,
                method: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#msgResult").text(result.msg);
                    $("#DetailDKSC").modal('show');
                }
            });
        };
        $(function () {
            $('#ShowStartDate').datetimepicker({
                format: 'DD/MM/YYYY',

            });
            $('#ShowEndDate').datetimepicker({
                format: 'DD/MM/YYYY',
            });


            $('#myTable').basictable({
                breakpoint: 980
            });

        });

        $('document').ready(function () {
            $('#DetailArticle').on('hidden.bs.modal', function (e) {
                $("#article-title").html("Chi Tiết Bài Viết");
                $("#article-content").html('<div class="text-center"><div class="lds-dual-ring"></div></div>');
                var str = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>';
                $("#footer-detail-article").html(str);
            });


        });

    </script>

}