@model API.Areas.Admin.Models.Articles.ArticlesModel
@using API.Areas.Admin.Models.SYSParams
@using Microsoft.AspNetCore.Http;
@using API.Areas.Admin.Models.DMCoQuan;
@using System.Web;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = (Model.Item.Title);
    ViewData["Description"] = (Model.Item.Metadesc);
    ViewData["Keywords"] = (Model.Item.Metakey);
    ViewData["Images"] = @Startup.Domain + (Model.Item.Images);
    ViewData["Url"] = @Startup.Domain + "/" + (Model.Item.Alias) + "-" + Model.Item.Id + ".html";

    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var listBannerPo10 = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(10, 1, "VI", Model.Categories.Id);
    var imgurl = "";
    if (Model.Item.Images != null)
    {
        imgurl = Model.Item.Images;
    }
    else
    {
        imgurl = "/TMDT/images/bg_1.jpg";
    }
    SYSConfig ItemCoQuan = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
}

<div class="hero-wrap" style="background-image: url('@imgurl'); height:75vh; background-position: bottom;">
    @*<div class="overlay" style="height:75vh"></div>*@
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center" style="height: 75vh">
            <div class="col-12  d-flex justify-content-center">
                <div class="text navigation nlist">
                    <h2 class="text-center text-white">@Model.Item.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navigation nlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Trang chủ</a>
                        @if (!Model.Item.StaticPage)
                        {
                            <i class="icon-angle-right"></i>
                            <a asp-controller="Articles" asp-action="GetByCat" asp-route-id="@Model.Categories.Id" asp-route-alias="@Model.Categories.Alias">@(Model.Categories.Title)</a>
                        }
                        else
                        {
                            <i class="icon-angle-right"></i>
                            @Model.Item.Title
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container ContentDiv">

    <div class="row">
        <div class="col-12 detail-article">
            @*<div class="col1">
            <partial name="_PartialLeftCol" />
            </div>*@
            <div class="col2">


                @if (listBannerPo10 != null && listBannerPo10.Count > 0)
                {
                    <div class="row ">
                        <div class="col-12">
                            <div style="padding-bottom:10px;margin-bottom:10px; border-bottom:1px solid #ddd">
                                <!--Banner-->
                                @foreach (var item in listBannerPo10)
                                {
                                    <div class="BannerItem mb-2">
                                        <a href="@item.Link" target="@item.Target">
                                            <img src="@item.Image" alt="@item.Title" />
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }

                <div class="row PageDetail PageDetail-@Model.Item.Alias" id="ContentArticle">

                    <div class="col-md-12 article-body">
                        <div class="ContentArticle">
                            <h1 class="Title">@(Model.Item.Title)</h1>
                            <p class="text-muted icon">
                                <span class="date"> Ngày đăng: @Model.Item.PublishUp.ToString("dd/MM/yyyy HH:mm")</span>
                                @*<i class="fa fa-eye marginleft10"></i> @(Model.Item.Hit)*@

                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        @if (Model.Item.ListLinkArticle != null && Model.Item.ListLinkArticle.Count > 0)
                        {
                            <div class="ListLinkArticle">
                                <p style="margin-bottom:3px"><strong>Tin liên quan</strong></p>
                                <ul>
                                    @foreach (var item in Model.Item.ListLinkArticle)
                                    {
                                        <li><a href="@item.Link" target="_blank">@item.Title</a></li>
                                    }

                                </ul>
                            </div>

                        }

                    </div>

                    @* @if (ItemCoQuan.MetadataCV.SmartVoiceTokenID != null && ItemCoQuan.MetadataCV.SmartVoiceTokenID.Trim() != "")
                    {
                        <div id="smartvoice-text">
                            <a id="btn-play" class="btn-play" onclick="getAudio(@Model.Item.Id,'@Model.Item.Ids')"><i class="fas fa-volume-down"></i> Đọc bài viết </a>
                            <a id="btn-play-loading" style="display:none" class="btn-play">
                                <i class="fas fa-spinner fa-spin"></i> Đọc bài viết
                            </a>
                        </div>
                    } *@

                    @if (!string.IsNullOrEmpty(Model.Item.AudioFile))
                    {
                        <div class="col-md-12 mb-4">
                            @* <div>
                                <p class="badge badge-warning" style="font-size:13px; padding:7px 30px; text-align:left">Bài đọc:</p>
                            </div> *@
                            <audio class="ptLink" controls="" style="width:100%">
                                <source class="ptLinkSrc" src="@Model.Item.AudioFile" type="audio/mp3">
                                Trình duyệt không hỗ trợ định dạng âm thanh này
                            </audio>
                        </div>
                    }


                    <div class="col-md-12 full-text article-content" id="noidung">

                        @Html.Raw(@Model.Item.FullText)

                        <p class="mt-5 text-right"><strong class="text-right">@Model.Item.Author</strong></p>
                    </div>

                    @*@if (Model.Item.ListFile != null && Model.Item.ListFile.Count() > 0)
                    {
                        <div class="col-12 mt-5" id="parent">
                            <table id="myTable" class="table table-bordered">
                                @for (int j = 0; j < Model.Item.ListFile.Count(); j++)
                                {
                                    var filename = Model.Item.ListFile[j].FilePath.Substring(Model.Item.ListFile[j].FilePath.LastIndexOf('/') + 1);
                                    string ex = API.Models.ManagerFiles.ManagerFilesService.GetExtension(Model.Item.ListFile[j].FilePath);
                                    string url = "";
                                    if (Context.Request.IsHttps)
                                    {
                                        url = "https://" + Context.Request.Host + Model.Item.ListFile[j].FilePath;
                                    }
                                    else
                                    {
                                        url = "http://" + Context.Request.Host + Model.Item.ListFile[j].FilePath;
                                    }
                                    <tr>
                                        <td class="text-primary">

                                            <p>@filename</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="@Model.Item.ListFile[j].FilePath" target="_blank" class="text-primary"><i class="fas fa-file-download mr-1"></i> Tải file</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    @if (ex == ".pdf")
                                                    {
                                                        <a class="text-success viewFile" style="cursor:pointer" val="@url"><i class="fas fa-eye mr-1"></i>Xem văn bản</a>
                                                    }

                                                </li>
                                            </ul>

                                        </td>

                                    </tr>

                                }
                            </table>
                        </div>
                    }*@

                    <div class="col-12 mt-4">
                        @*<iframe id="myFrame" style="display:none" src="" width="100%" height="800px"></iframe>*@

                       @* <div class="mb-5">
                            <iframe class="myFrame" style="display:none" id="pdf-js-viewer" src="" title="webviewer" frameborder="0" width="100%" height="800px"></iframe>
                        </div>*@

                        <div class="col-12 mt-4">
                            @*<iframe id="myFrame" style="display:none" src="" width="100%" height="800px"></iframe>*@

                            @if (Model.Item.ListFile != null && Model.Item.ListFile.Count() > 0)
                            {
                                for (int j = 0; j < Model.Item.ListFile.Count(); j++)
                                {
                                    var filename = Model.Item.ListFile[j].FilePath.Substring(Model.Item.ListFile[j].FilePath.LastIndexOf('/') + 1);
                                    string ex = API.Models.ManagerFiles.ManagerFilesService.GetExtension(Model.Item.ListFile[j].FilePath);
                                    string url = "";
                                    if (Context.Request.IsHttps)
                                    {
                                        url = "https://" + Context.Request.Host + Model.Item.ListFile[j].FilePath;
                                    }
                                    else
                                    {
                                        url = "http://" + Context.Request.Host + Model.Item.ListFile[j].FilePath;
                                    }

                                    <div class="mb-5">
                                        <iframe class="myFrame" id="pdf-js-viewer" src="@url" title="webviewer" frameborder="0" width="100%" height="800"></iframe>
                                    </div>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="@Model.Item.ListFile[j].FilePath" target="_blank" class="text-primary"><i class="fas fa-file-download mr-1"></i> Download file</a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <!-- In trang này -->
                        <div class="printDiv">
                            <ul class="list-inline text-right">
                                @*<li class="list-inline-item mr-3">
                                    <a onclick="printDiv('ContentArticle')" style="cursor:pointer"><i class="fa fa-print"></i> In trang này</a>
                                </li>*@
                                <li class="list-inline-item mr-3">
                                    <a onclick="emailCurrentPage()"><i class="fa fa-envelope"></i> Email</a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@ViewData["Url"]" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-f"></i> Chia sẻ</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col3">
                @await Html.PartialAsync("_PartialRelativeArticles", Model)
            </div>
            @*<div class="clearfix"></div>*@
        </div>
    </div>
</div>



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=1511988695606372&autoLogAppEvents=1"></script>

<script>
    function getAudio(Id, Ids) {

        var token = jQuery('#FormArticleLike input[name="__RequestVerificationToken"]').val();
        console.log(token);
        var headers = {};
        headers["RequestVerificationToken"] = token;
        $("#btn-play").hide();
        $("#btn-play-loading").show();
        return $.ajax({
            type: "GET",
            headers: headers,
            url: "/Admin/Articles/CreateAudio?Id=" + Id + "&Ids=" + Ids,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: res => {
                location.reload();
            },
            error: function () {
                location.reload();
            }
        });
    }


    $(document).ready(function () {
        $(".viewFile").click(function () {
            var url = $(this).attr("val");
            $(".myFrame").attr("src", "/pdfjs/web/viewer.html?file=" + url);
            $(".myFrame").show();
        })


        $('.article-content img').each(function (index, value) {
            var src = $(this).attr("src");
            $(this).attr("data-fancybox", "gallery_dt");
            $(this).attr("href", src);
        });




    })

    @*function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var w = window.innerWidth;

        var myWindow = window.open("", "popup", "width=" + w + ",height=600,scrollbars=yes,resizable=yes," +
            "toolbar=no,directories=no,location=no,menubar=no,status=no,left=250px,top=80px");
        var doc = myWindow.document;
        doc.open();
        doc.write("<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">");
        doc.write("<html>");
        doc.write("<body>");
        doc.write(printContents);
        doc.write("</body>");
        doc.write("</html>");
        myWindow.focus();
        myWindow.print();
        myWindow.close();
        }*@

    function emailCurrentPage() {
        window.location.href = "mailto:?subject=" + document.title + "&body=" + escape(window.location.href);
    }
</script>
