@model API.Areas.Admin.Models.Articles.ArticlesModel
@using Microsoft.AspNetCore.Http

@{
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
    ViewData["Description"] = ItemConfig.SEODescription;
    ViewData["Keywords"] = ItemConfig.SEOKeyword;
    ViewData["Images"] = @Startup.Domain + "/ttudkhcn/images/ogImage3.png?ver=" + DateTime.Now.ToString();
    ViewData["Url"] = @Startup.Domain;
    ViewData["Title"] = "Quản lý tin tức";
}
<div class="container ContentDiv pt-3">

    <div class="row">
        <div class="col-12">

            <div class="row ArticleList">

                @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                {
                    <div class="col-lg-12">
                        <p>Chưa có bài đăng</p>
                    </div>

                }
                else
                {
                    for (int i = 0; i < Model.ListItems.Count(); i++)
                    {

                        <div class="col-12">
                            <div class="item">

                                @if (!string.IsNullOrEmpty(Model.ListItems[i].Images))
                                {
                                    <div class="left">
                                        <a asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias" class="name">
                                            <img alt="@Model.ListItems[i].Title" class="tall" src="/Home/ResizeImage?url=@Model.ListItems[i].Images&width=600">
                                        </a>

                                    </div>
                                }

                                <div class="right @(string.IsNullOrEmpty(Model.ListItems[i].Images)?"w100":"")">
                                    <p class="title">
                                        <a asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias" class="name">@Model.ListItems[i].Title</a>
                                    </p>
                                    <p class="date">
                                        <i class="far fa-clock"></i> @Model.ListItems[i].PublishUp.ToString("dd/MM/yyyy HH:mm")
                                    </p>
                                    @if (!string.IsNullOrEmpty(@Model.ListItems[i].IntroText))
                                    {
                                        <p class="ovv">@Html.Raw(@Model.ListItems[i].IntroText)</p>
                                    }
                                </div>
                                <div class="clearfix">

                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>