@model API.Areas.Admin.Models.Videos.VideosModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Video";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Video";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<style>
    .modal-content {
        /* 100% = dialog height, 120px = header + footer */
        height: 600px;
        width: 875px;
    }
</style>

<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
@*<div class="card">
    <div class="card-header">
        <h4>Chi tiết Video</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <div>
                            <label>Trạng thái</label>
                        </div>
                        
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Hiển thị</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Featured" name="Featured" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Featured">Nổi bật</label>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="row">
             
                <div class="col-lg-3" style="display:none">
                    <div class="form-group">
                        <label>Loại Video</label>
                        <select asp-for="Item.IdType" name="IdType" class="form-control" asp-items="Model.ListItemsType"></select>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Hình đại diện</label>
                        <br />
                        <img src="@Model.Item.Image" id="customRoxyImage" style="max-height:100px;">
                        <br />
                        <br />
                        <input type="hidden" id="Item_Images" class="form-control" asp-for="Item.Image" name="Image">
                        <a href="javascript:openCustomRoxy()" type="button" class="btn btn-success">Chọn hình</a>
                        <div id="roxyCustomPanel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <iframe src="/lib/fileman/index.html?integration=custom&langCode=vi" style="width:100%;height:100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Item.Link">Link Video</label>
                <textarea asp-for="Item.Link" name="Link" class="form-control"></textarea>

            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index">Hủy</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>*@

<div class="card">
    <div class="card-header">
        <h4>Chi tiết Video</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Item.IdType">Loại <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.IdType" name="IdType" class="form-control" asp-items="Model.ListItemsType"></select>
                    </div>
                </div>

                <div class="col-lg-2">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-group">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <div class="form-group">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Featured" name="Featured" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Featured">Nổi bật</label>
                        </div>

                    </div>
                </div>
                @*<div class="col-md-3 col-12">
                    <div class="form-group">
                        <label asp-for="Item.CatId">Danh mục <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.CatId" name="CatId" class="form-control" asp-items="Model.ListItemsCat"></select>
                    </div>
                </div>*@
                @*<div class="col-md-3 col-12">
                    <div class="form-group">
                        <label asp-for="Item.Link">Mã Video trên Youtube</label>
                        <input type="text" class="form-control" asp-for="Item.Link" name="Link">
                    </div>
                </div>*@

                <div class=" col-12">
                    <div class="form-group images-main">
                        <label>Nhúng iframe từ youtube hoặc chọn file từ server:</label>
                        <div class="input-group mb-3">
                            <input type="text" name="Link" id="Item_LinkSv_Article" class="form-control" asp-for="Item.Link">
                            <div class="input-group-append">
                                <span class="input-group-text" onclick="ShowManagerFile('Item_LinkSv_Article')" id="basic-addon2">Chọn File</span>
                            </div>
                        </div>

                    </div>
                </div>

                @*<div class="col-md-3 col-12">
                    <div class="form-group">
                        <label asp-for="Item.Ordering">Sắp Xếp</label>
                        <input type="number" class="form-control" asp-for="Item.Ordering" name="Ordering">
                    </div>
                </div>*@

            </div>

            <div class="row">
            </div>
            <div class="form-group">
                <div class="form-group images-main">
                    <label>Hình đại diện</label>
                    <img src="@Model.Item.Image" class="Item_Images_Main_Preview" style="max-height:200px;">
                    <input type="hidden" name="Image" id="Item_Images_Main" class="form-control" asp-for="Item.Image">
                    <a onclick="ShowManagerFile('Item_Images_Main')" class="btn btn-primary"><i class="far fa-eye"></i> Chọn hình</a>
                    <a onclick="ViewImageMain('Item_Images_Main')"> <i class="fas fa-eye"></i> Xem ảnh</a>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" id="full-textarea" class="form-control full-textarea" style="visibility: visible"></textarea>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Hủy</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
            @*<input type="hidden" class="form-control" asp-for="Item.IdCoQuan" name="IdCoQuan">*@
        </form>
    </div>
</div>



<partial name="_PartialTinymce" />
@section Scripts{
    <script src='~/lib/tinymce/tinymce.min.js?ver=@DateTime.Now' referrerpolicy="origin"></script>
    <script src='~/lib/tinymce/js/tinymce_config.js?ver=@DateTime.Now' referrerpolicy="origin"></script>
}


@*<div id="roxyCustomPanel2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content content-set-image">
            <iframe id="ifrm2" src="" style="width:100%;height:100%" frameborder="0"></iframe>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>
        var roxyFileman = '/lib/fileman/index.html';
        function openCustomRoxy2(id) {
            var roxyFileman2 = '/lib/fileman/index.html?integration=custom_2&langCode=vi&txtFieldId=' + id;
            $('#ifrm2').attr('src', roxyFileman2)
            $('#roxyCustomPanel2').modal('show');
        }
        function closeCustomRoxy2() {
            $('#roxyCustomPanel2').modal('hide');
        }
    </script>
}*@