@model API.Areas.Admin.Models.Documents.DocumentsModel
@{

    ViewData["Title"] = Model.Category.Title;
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<link rel="stylesheet" href="~/css/tempusdominus-bootstrap-4.css" />
<div class="navigation nlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline  ">
                    <li>
                        <a href="/">Trang chủ</a> <i class="fa fa-angle-right"></i>
                        <a href="#">@ViewData["Title"]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container ContentDiv">
    <div class="row">
        <div class="col-12">
            <div class="PageDetail">


                <div class="greyDiv searchDiv mb-3">
                    <form asp-controller="@ControllerName" asp-action="Index" method="GET">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="SearchData.Keyword">Số văn bản/ trích yếu </label>
                                    <input type="text" class="form-control" asp-for="SearchData.Keyword" name="Keyword">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-xs-12">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Ngày ban hành </label>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="input-group date" id="ShowStartDate" data-target-input="nearest">
                                            <input placeholder="Từ ngày" asp-for="SearchData.ShowStartDate" name="ShowStartDate" type="text" class="form-control datetimepicker-input" data-target="#ShowStartDate" id="ShowShowStartDate" />
                                            <div class="input-group-append" data-target="#ShowStartDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group date" id="ShowEndDate" data-target-input="nearest">
                                            <input placeholder="Đến ngày" asp-for="SearchData.ShowEndDate" name="ShowEndDate" type="text" class="form-control datetimepicker-input" data-target="#ShowEndDate" id="ShowShowEndDate" />
                                            <div class="input-group-append" data-target="#ShowEndDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @*<div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="SearchData.FieldId">Lĩnh Vực </label>
                                        <select asp-for="SearchData.FieldId" name="FieldId" class="form-control" asp-items="Model.ListDocumentsField"></select>
                                    </div>
                                </div>*@
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="SearchData.TypeId">Loại văn bản</label>
                                    <select asp-for="SearchData.TypeId" name="TypeId" class="form-control" asp-items="Model.ListDocumentsType"></select>
                                </div>
                            </div>
                            @*<div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="SearchData.CatId">Cơ quan ban hành</label>
                                        <select asp-for="SearchData.TypeId" name="TypeId" class="form-control" asp-items="Model.ListDocumentsCategories"></select>
                                    </div>
                                </div>*@
                            <div class="col-lg-2 col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div>
                                        <input type="hidden" class="form-control" asp-for="SearchData.CatId" name="id">
                                        <input type="submit" class="btn btn-primary" name="Search" value="Tìm Văn Bản" />
                                    </div>
                                </div>

                            </div>
                        </div>






                    </form>
                </div>

                <h4 class="mt-2 mb-2 text-danger">@Model.Category.Title</h4>
                @if (Model.Category.Type == 1)
                {
                    <table class="table table-bordered myTable" style="margin-top: 15px;">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">STT</th>
                                <th width="150px">Số văn bản bản</th>
                                <th width="300px">Trích yếu</th>
                                <th width="150px">Loại văn bản</th>
                                <th width="150px">Lĩnh vực</th>
                                <th width="150px" class="text-center">Ngày ban hành</th>
                                @*<th width="150px" class="text-center">Ngày hiệu lực</th>*@

                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7">Không có văn bản nào</td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                        <tr>
                            <td class="text-center">@(i + 1)</td>
                            <td>

                                <a asp-controller="Documents" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                                    @Model.ListItems[i].Code
                                </a>

                            </td>
                            <td>

                                @Model.ListItems[i].Introtext

                            </td>
                            <td>

                                @Model.ListItems[i].TypeTitle

                            </td>
                            <td>

                                @Model.ListItems[i].FieldTitle

                            </td>


                            <td class="text-center"> @Model.ListItems[i].IssuedDateShow</td>
                            @*<td class="text-center"> @Model.ListItems[i].EffectiveDateShow</td>*@

                            <td class="text-center">


                                <a asp-controller="Documents" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias" class="mr-3">
                                    <i class="fas fa-search" style="margin-right:2px"></i>   Chi tiết
                                </a>



                            </td>
                        </tr>
                                }
                            }

                        </tbody>
                    </table>
                }
                else
                {

                    <table class="table table-bordered myTable" style="margin-top: 15px;">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">STT</th>
                                <th>Tên tài liệu</th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3">Không có văn bản nào</td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    <tr>
                                        <td class="text-center">@(i + 1)</td>
                                        <td>

                                            @Model.ListItems[i].Title

                                        </td>

                                        <td class="text-center">


                                            <a asp-controller="Documents" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias" class="mr-3">
                                                <i class="fas fa-search" style="margin-right:2px"></i>   Chi tiết
                                            </a>



                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                }

            </div>

            <div class="row">
                <div class="col-md-12">
                    @await Html.PartialAsync("_PartialPagination", Model.Pagination)
                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.base64.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.binarytransport.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#ShowStartDate').datetimepicker({ format: 'DD/MM/YYYY', });
            $('#ShowEndDate').datetimepicker({ format: 'DD/MM/YYYY', });
        });
    </script>

}