@model API.Areas.Admin.Models.Banners.BannersModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Banner/Liên Kết";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Banner/Liên Kết";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.SortOrder">Số Thứ Tự</label>
                        <input type="text" class="form-control" asp-for="Item.SortOrder" name="SortOrder">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Link">Link <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Link" name="Link">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.CatId">Vị trí</label>
                        <select asp-for="Item.CatId" name="CatId" class="form-control" asp-items="Model.ListItemsCategories"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Target">Target</label>
                        <input type="text" class="form-control" asp-for="Item.Target" name="Target">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group dmbaiviet" >
                        <label asp-for="Item.ArticlesCatId">Danh mục</label>
                        <select asp-for="Item.ArticlesCatId" name="ArticlesCatId" class="form-control" asp-items="Model.ListItemsArticlesCategories"></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Status">Trạng thái</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Hoạt động</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Hình đại diện</label>
                        <br />                       
                        <img src="@Model.Item.Image" id="customRoxyImage" style="max-height:100px; margin:10px 0;">

                        <br />
                        <input type="hidden" id="Item_Images" class="form-control" asp-for="Item.Image" name="Image">
                        <a href="javascript:openCustomRoxy()" type="button" class="btn btn-success">Chọn hình</a>
                        <div id="roxyCustomPanel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content content-set-image">
                                    <iframe src="/lib/fileman/index.html?integration=custom&langCode=vi" style="width:100%;height:100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Item.Title">Mô tả</label>
                        <textarea asp-for="Item.Description" id="NoiDung" name="Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>




            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index" asp-route-catid="@Model.Item.CatId">Hủy</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
            <input type="hidden" class="form-control" asp-for="SearchData.IdCoQuan" name="IdCoQuan">

        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>

        var roxyFileman = '/lib/fileman/index.html';
        $(function () {
            CKEDITOR.replace('NoiDung', {
                filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload'
            });
        });

        //$("#Item_CatId").change(function () {
        //    chooseType();
        //})

        function chooseType() {
            var type = $("#Item_CatId").val();
            if (type == 10) {
                $(".dmbaiviet").show();
            }
            else {
                $(".dmbaiviet").hide();
            }            
        }
    </script>

}