@model API.Areas.Admin.Models.DocumentForms.DocumentFormsModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý tạp chí";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>
            <i class="fas fa-table"></i> @ViewData["Title"]
            <span class="float-right">Tổng dòng: <strong>@if (Model.ListItems != null && Model.ListItems.Count() > 0)
            {<span>@Model.ListItems[0].TotalRows</span>}
        else
        {<span>0</span>}</strong></span>
        </h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="Index" method="get">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select asp-for="SearchData.Year" name="Year" class="form-control" asp-items="Model.ListYear"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col">
                            <select asp-for="SearchData.Status" name="Status" class="form-control" asp-items="Model.ListItemsStatus"></select>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>
        <div class="row">
            <div class="col-lg-12">


                <table class="table table-bordered table-striped table-hover " id="myTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center align-middle">STT</th>
                            <th class="text-center" width="100px">Ảnh</th>
                            <th class="align-middle">Tiêu đề </th>
                            <th class="text-center">Ngày</th>
                            <th class="text-center" width="100px">Năm</th>
                            <th width="100px" class="align-middle">Trạng Thái</th>
                            <th width="130px" class="btn-contain align-middle">
                                <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="7" class="text-center">
                                    <label *ngIf="flagListitems==2">Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                                <tr>
                                    <td width="50px" class="text-center">@(i + 1)</td>
                                    <td class="text-center">
                                        @if (!string.IsNullOrEmpty(@Model.ListItems[i].Images))
                                        {
                                            <a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids">  <img src="@Model.ListItems[i].Images" style="width:100px" /></a>


                                        }

                                    </td>
                                    <td>@Model.ListItems[i].Title</td>

                                    <td class="text-center">@Model.ListItems[i].IssuedDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@Model.ListItems[i].Year</td>

                                    <td class="text-center">
                                        @if (@Model.ListItems[i].Status)
                                        {
                                            <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check-circle text-primary" aria-hidden="true"></a>
                                        }
                                        else
                                        {
                                            <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></a>
                                        }
                                    </td>
                                    <td>
                                        <ul class="list-inline action">
                                            <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                            <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        $(function () {
          
            $('#myTable').basictable({
                breakpoint: 980
            });
        });
    </script>
}