@model API.Areas.Admin.Models.DocumentForms.DocumentFormsModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới tạp chí";
    }
    else
    {
        ViewData["Title"] = "Cập nhật tạp chí";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>Chi tiết bản tin Tư pháp</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Year">Năm<sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Year" name="Year">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control Changetitle namepr" asp-for="Item.Title" name="Title">
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Alias">Alias<sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control slug" asp-for="Item.Alias" name="Alias">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group images-main">
                        <label>Hình đại diện</label>
                        <img src="@Model.Item.Images" id="customRoxyImage" style="height:50px;">
                        <input type="hidden" name="Images" id="Item_Images" class="form-control" asp-for="Item.Images">
                        <a href="javascript:openCustomRoxy()" type="button" class="btn btn-primary">Chọn hình</a>
                        <div id="roxyCustomPanel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content content-set-image">
                                    <iframe src="/lib/fileman/index.html?integration=custom&langCode=vi" style="width:100%;height:100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.IssuedDateShow">Ngày <sup class="text-danger"> (*)</sup></label>
                        <div class="input-group date" id="IssuedDateShow" data-target-input="nearest">
                            <input type="text" asp-for="Item.IssuedDateShow" name="IssuedDateShow" class="form-control datetimepicker-input" data-target="#IssuedDateShow" />
                            <div class="input-group-append" data-target="#IssuedDateShow" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Link">File pdf</label>
                        <div>
                            <input type="file" class="btn btn-warning" name="FilePDF" accept="application/pdf" />
                            <input type="hidden" class="form-control" asp-for="Item.Link" name="Link">
                            @if (!string.IsNullOrEmpty(@Model.Item.Link))
                            {
                                <p>
                                    <a href="~/bantintuphap/@Model.Item.Link" target="_blank">@Model.Item.Link</a>
                                </p>

                            }
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Status"> &nbsp; &ensp; &ensp;</label>
                        <div class="custom-control custom-checkbox custom-control">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.EmbedLink">Mã nhúng google</label>
                <textarea asp-for="Item.EmbedLink" name="EmbedLink" class="form-control"></textarea>
            </div>



            <div class="form-group">
                <label asp-for="Item.Introtext">Ghi chú</label>
                <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
            </div>


            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index">Hủy</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>


@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.base64.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.binarytransport.js"></script>


    <script type="text/javascript">

        $(function () {

            $('#IssuedDateShow').datetimepicker({ format: 'DD/MM/YYYY', });

        });

    </script>



    }