@model API.Areas.Admin.Models.Contacts.ContactsModel

@{
    ViewData["Title"] = "Hỏi đáp";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="navigation nlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline  ">
                    <li>
                        <a href="/">Trang chủ</a>
                        <i class="fa fa-angle-right"></i>
                        <a asp-controller="Contacs" asp-action="Index">Hỏi đáp</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-3" style="border-bottom:1px solid #ddd;"> 
            <a asp-controller="Contacts" asp-action="Index" class="btn btn-lg btn-danger" style="padding-left:30px; padding-right:30px; margin-bottom:20px;"><i class="fas fa-plus-circle mr-1"></i> Gửi câu hỏi </a>
        </div>
        @for (int i = 0; i < Model.ListItems.Count(); i++)
        {
            <div class="col-md-12">
                <div class="hoidap-item">
                    <p><strong>@Model.ListItems[i].Title</strong></p>
                    <p class="date">
                        @Model.ListItems[i].CreatedDateShow  - @Model.ListItems[i].Fullname
                    </p>
                    <p class="question">
                        @Model.ListItems[i].Introtext
                    </p>
                    <button class="btn btn-success" data-toggle="collapse" data-target="#demo@(i)">Xem chi tiết </button>
                    <div id="demo@(i)" class="collapse" style="padding:20px 0; color:#555">
                        <div>
                            <p class="badge badge-warning" style="font-size:95%;padding:7px 10px">Trả lời:</p>
                        </div>
                        <div>
                            @Html.Raw(@Model.ListItems[i].Description)
                        </div>

                    </div>
                </div>
            </div>
        }



    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            @await Html.PartialAsync("_PartialPagination", Model.Pagination)
        </div>

    </div>
</div>






