@using API.Areas.Admin.Models.CategoriesAblums;
@using API.Areas.Admin.Models.Ablums;
@{

    CategoriesAblumsModel data = new CategoriesAblumsModel() { SearchData = new SearchCategoriesAblums() };
    data.ListItemsAlbums = AblumsService.GetListPagination(new SearchAblums());
    List<CategoriesAblums> ListCatAblum = new List<CategoriesAblums>();
    ListCatAblum = CategoriesAblumsService.GetList();

    for (int i = 0; i < ListCatAblum.Count(); i++)
    {
        List<Ablums> tmp = new List<Ablums>();
        for (int j = 0; j < data.ListItemsAlbums.Count(); j++)
        {
            if (ListCatAblum[i].Id == data.ListItemsAlbums[j].CatId)
            {
                tmp.Add(data.ListItemsAlbums[j]);
            }
        }
        ListCatAblum[i].ListItemsAlbums = tmp;
    }

    data.ListItems = ListCatAblum;

}


<div class="row">

    @for (int i = 0; i < data.ListItems.Count(); i++)
    {

        @if (data.ListItems[i].ListItemsAlbums != null && data.ListItems[i].ListItemsAlbums.Count() > 0)
        {
            <div class="gallery col-lg-3">
                <div class="card rounded-0 border-0">
                    <a href="@data.ListItems[i].ListItemsAlbums[0].LinkImg" rel="prettyPhoto[gallery_@data.ListItems[i].Id]">
                        <img width="255px" height="160px" src="@data.ListItems[i].ListItemsAlbums[0].LinkImg" class="card-img-top" alt="@data.ListItems[i].ListItemsAlbums[0].Title" />
                    </a>
                    @if (data.ListItems[i].ListItemsAlbums.Count() > 1)
                    {
                        for (int j = 1; j < data.ListItems[i].ListItemsAlbums.Count(); j++)
                        {
                            <a href="@data.ListItems[i].ListItemsAlbums[j].LinkImg" rel="prettyPhoto[gallery_@data.ListItems[i].Id]" title="@data.ListItems[i].ListItemsAlbums[j].Title"></a>
                        }
                    }
                    <div class="card-body">
                        <a href="@data.ListItems[i].ListItemsAlbums[0].LinkImg" rel="prettyPhoto[gallery_@data.ListItems[i].Id]" class="card-title text-justify">@data.ListItems[i].ListItemsAlbums[0].Title</a>
                    </div>
                </div>
            </div>
        }

    }
</div>

