@using API.Areas.Admin.Models.Articles
@using API.Areas.Admin.Models.CategoriesArticles
@{
  
    API.Areas.Admin.Models.Articles.SearchArticles dto = new API.Areas.Admin.Models.Articles.SearchArticles() { CurrentPage = 1, ItemsPerPage = 5 };
    var listNotification = API.Areas.Admin.Models.Articles.ArticlesService.GetListNotification(dto,"EN");
}

<!--Thông báo-->
<div class="marquee" data-direction='up' data-duration='10000' data-startVisible="true" data-gap='10' data-pauseOnHover="false" data-duplicated="true">
    <ul class="list-unstyled">
        @for (int i = 0; i < listNotification.Count(); i++)
        {
            <li>
                <div class="notifi-item">
                    <div class="date">
                        @{
                            var d = @listNotification[i].PublishUp;
                        }
                        @d.Day <br />
                        <span>
                            @d.ToString("MM")
                        </span>

                    </div>
                    <a class="title" asp-controller="Articles" asp-action="Detail" asp-route-id="@listNotification[i].Id" asp-route-alias="@listNotification[i].Alias" title="@listNotification[i].Title">
                        @API.Models.StringUtilities.Truncate(@listNotification[i].Title, 120)

                    </a>
                    <div class="clearfix"></div>
                </div>

            </li>

        }
    </ul>

</div>
    

