@model API.Areas.Admin.Models.CategoriesAblums.CategoriesAblums;

@{
    var listchild = API.Areas.Admin.Models.CategoriesAblums.CategoriesAblumsService.GetListByParrent(Model.Id);
    var father = API.Areas.Admin.Models.CategoriesAblums.CategoriesAblumsService.GetItem(Model.Id);
    var fatherImage = API.Areas.Admin.Models.Ablums.AblumsService.GetListByParrent(Model.Id);
}

<li>
    <span><i class="far fa-file"></i>@father.Ten</span>
    <ul>
        <li>
            <div class="row mb-1">
                @foreach (var fi in fatherImage)
                {

                    <div class="col-12 col-md-4 col-lg-3 mb-1">
                        <div class="card" data-aos="fade-up">
                            <a data-fancybox="gallery_@father.Id" href="@fi.Images" data-caption="@fi.Title">
                                <img class="card-img-top" src="/Home/ResizeImage?url=@fi.Images&width=255&height=150" alt="@fi.Title">
                            </a>
                        </div>
                    </div>



                }
            </div>
        </li>
        @foreach (var child in listchild)
        {
            @if (child.ChildCount > 0)
            {
                @await Html.PartialAsync("_PartialAblumsNew", child)
                ;
            }
            else
            {
                var listChildImage = API.Areas.Admin.Models.Ablums.AblumsService.GetListByParrent(child.Id);
                <li>
                    <span><i class="far fa-file"></i>@child.Ten</span>
                    <ul>
                        <li>
                            <div class="row mb-1">
                                @foreach (var childimage in listChildImage)
                                {

                                    <div class="col-12 col-md-4 col-lg-3 mb-1">
                                        <div class="card" data-aos="fade-up">
                                            <a data-fancybox="gallery_@child.Id" href="@childimage.Images" data-caption="@childimage.Title">
                                                <img class="card-img-top" src="/Home/ResizeImage?url=@childimage.Images&width=255&height=150" alt="@childimage.Title">
                                            </a>
                                        </div>
                                    </div>


                                }
                            </div>

                        </li>
                    </ul>
                </li>
            }

        }
    </ul>
</li>

